
// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Fontawesome
@import "../libs/font-awesome/scss/font-awesome";

.home .panel {
	text-align: center;
    padding: 30px;
}

.panel .panel-heading {
	border-bottom: none;
	text-align: center;
	text-transform: uppercase;
	.panel-title {
		font-size: 18px;
		color: $brand-primary;
	}
}

.navbar-inverse {
	text-transform: uppercase;
}
 .navbar-inverse .navbar-brand {
    color: #fff;
}

label {
    font-weight: 500!important;
}


