
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

$btn-font-weight: 300;

$font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";



body, label, .checkbox label {
  font-weight: 300;
}



@import "components/panel";


// Fontawesome
@import "../libs/font-awesome/scss/font-awesome";






